body{
    background-color: #efefef;
}
.main{
    background-color: white;
    margin: 60px;
}
.btn-publish{
    float: right;
    margin-bottom: 15px;
}
.media-object{
    width: 40px;
    height: 40px;
}
.media-author{
    width: 30px;
    height: 30px;
}
.media-menu{
    width: 15px;
    height: 15px;
}
.media-body{
    padding-top: 10px;
}
.text-desc{
    font-size: 12px;
    font-weight: normal;
    color: #999;
}
.profile.section{
    margin-top: 15px;
}

.community-menu{
    display: block;
    color:#999;
    font-size: 15px;
    margin-bottom: 15px;
}
.jumbotron{
    margin: 50px;
}
.comment-type{
    margin: 10px 0px;
}
.comment-s{
    margin-top: 0px;
}

.sub-comments{
    border-radius: 5px;
    margin-top: 10px;
}
.menu{
    color:#999;
    margin-top: 5px;
}
.menu .icon{
    margin-right: 6px;
    font-size: 15px;
    cursor: pointer;
}
.menu .active{
    color: #499ef3;
}
.menu .icon:hover{
    color: #499ef3;
}
.comment-t{
    padding-bottom: 5px;
    margin-bottom: 15px;
    border-bottom: 1px solid #eee;
}
.question-tag{
    margin-right: 5px;

}
.question-related{
    line-height: 20px;
    font-size: 16px;
    margin-left: 0;
    padding-left: 0;
}
.publish-tag-tab{
    display: none;
    margin-top: 10px;
}
.picture{
    vertical-align: middle;
    display: table-cell;
    text-align: center;
}

.top-tag{
    font-size: 15px;
    font-weight: normal;
    color: #999;
    padding: 3px;
    margin-left: 20px;
}

/*.form-control{*/
/*    margin: 10px;*/
/*}*/

.center-icon{
    margin-left: 240px;
}
.center-text{
    margin-left: 200px;
}

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 10px auto;
}


