<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <script src="/js/community.js" type="application/javascript"></script>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div th:fragment="copy">
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">my community</span>

            </button>
            <a class="navbar-brand" href="/">My community</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <form class="navbar-form navbar-left" action="/" method="get">
                <div class="form-group">
                    <input type="text" class="form-control" name="search" placeholder="搜索问题" autoComplete="off">
                </div>
                <button type="submit" class="btn btn-default" >搜索</button>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li th:if="${session.user!=null}">
                    <a href="/publish">发帖</a>
                </li>
                <li th:if="${session.user!=null}"><a href="/profile/replies">
                    <span class="iconfont icon-tongzhi" th:if="${session.unreadCount==0}"></span>
                    <span class="iconfont icon-weidu" th:if="${session.unreadCount!=0}" ></span>
                </a></li>
                <li class="dropdown" th:if="${session.user!=null}">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" >
                        <span>
                        <img class="media-photo img-circle" th:src="${session.user.getAvatarUrl()}">
                        </span>
                        </a>
                    <ul class="dropdown-menu">
                        <li><a href="/profile/questions">个人中心</a></li>
                        <li><a href="/profileSetting">个人设置</a></li>
                        <li><a href="/logout">退出登录</a></li>
                    </ul>
                </li>
                <li th:if="${session.user==null}">
                <a id="login-link" data-toggle="modal" href="#exampleModal" >登录</a></li>
            </ul>
        </div>
    </div>
</nav>
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <form class="form-signin" method="post" action="*">
                        <h2>登录</h2>
                        <div class="form-group" th:id="email-div">
                        <label class="sr-only control-label" for="email" th:id="email-msg">该邮箱未注册</label>
                        <input type="text" class="form-control" placeholder="Email" required="" id="email" autoComplete="off">
                        </div>
                        <div class="form-group" th:id="psw-div">
                        <label class="sr-only control-label" for="password" th:id="psw-msg">密码错误</label>
                        <input type="password" class="form-control " placeholder="Password" required="" id="password">
                        </div>
                        <div class="form-group">
                                <button  class="btn btn-default btn-success" type="button" onclick="login()">提交</button>
                            <span class="pull-right">
                                <a data-toggle="modal" href="#exampleModa2" data-dismiss="modal">忘记密码？</a>or<a data-toggle="modal" href="#exampleModa3" data-dismiss="modal"> 注册</a>
                            </span>
                        </div>
                    </form>
                    <h5 class="center-text">建议使用第三方账号登录</h5>
                    <hr>
                    <a class=" iconfont icon-github center-icon" style='text-decoration:none;' href="https://github.com/login/oauth/authorize?client_id=b246af4c3a29b7ebf7da&redirect_uri=http://localhost:8081/callback&scope=user&state=1"></a>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="exampleModa2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabe2">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <form class="form-signin" method="post" action="*">
                        <h3>找回密码</h3>
                        <div class="form-group" th:id="email1-div">
                            <label class="sr-only control-label" for="email1" th:id="email1-msg">邮箱未注册</label>
                            <input type="text" class="form-control" placeholder="注册使用的邮箱" required="" id="email1">
                        </div>
                        <div class="form-group" th:id="psw1-div">
                            <label class="sr-only control-label" for="password1" th:id="psw1-msg">密码长度为6-18位</label>
                            <input type="password" class="form-control " placeholder="新密码（6-18）位" required="" id="password1">
                        </div>
                        <div class="form-group" th:id="idcode-div">
                            <label class="sr-only control-label" for="idCode" th:id="idcode-msg" >验证码错误</label>
                            <label class="sr-only control-label" for="idCode" th:id="idcode-msg1" >验证码无效，请重新发送</label>
                            <input type="text" class="form-control " placeholder="邮箱验证码" required="" id="idCode">
                        </div>
                             <div class="form-group">
                            <button  class="btn btn-default btn-success" type="button" onclick="password()">提交</button>
                            <span class="pull-right">
                                <input id="send" type ="button" name="sm" value="获取验证码" onclick="setEmail(this)"/>
                            </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="exampleModa3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabe2">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <form class="form-signin form-horizontal" method="post" action="*">
                        <h3>注册</h3>
                        <div class="form-group" th:id="email2-div">
                            <label class="sr-only control-label" for="email2" th:id="email2-msg1">该邮箱已注册</label>
                            <label class="sr-only control-label" for="email2" th:id="email2-msg2">邮箱非法</label>
                            <input type="text" class="form-control" placeholder="邮箱" required="" id="email2">
                        </div>
                        <div class="form-group" th:id="username-div">
                            <label class="sr-only control-label" for="userName" th:id="username-msg">用户名非法</label>
                            <input type="text" class="form-control " placeholder="用户名（6-18个字符）" required="" id="userName">
                        </div>
                        <div class="form-group" th:id="psw2-div">
                            <label class="sr-only control-label" for="password2" th:id="psw2-msg">密码非法</label>
                            <input type="password" class="form-control " placeholder="密码（6-18个字符）" required="" id="password2">
                        </div>
                        <div class="form-group" th:id="file-div">
                            <label for="file" class="sr-only control-label" th:id="file-msg">请选择合法的头像</label>
                            <p class="form-control-static">选择一个头像上传(.jpg,.img,.png格式,10M以内大小)：</p>
                            <input type="file" id="file" required="" name="fileName">
                            <input type="text" hidden="hidden" th:id="avatarUrl">
                            <label>预览效果：</label>
                            <img class="media-object img-rounded " th:id="imgUrl">
                            <span class="pull-right">
                                <input id="upload" type ="button"  value="上传" onclick="uploadFile()"/>
                            </span>
                        </div>
                        <div class="form-group" th:id="idcode2-div">
                            <label class="sr-only control-label" for="idCode2" th:id="idcode2-msg1">验证码错误</label>
                            <label class="sr-only control-label" for="idCode2" th:id="idcode2-msg2">验证码已失效，请重新发送</label>
                            <input type="text" class="form-control " placeholder="邮箱验证码" required="" id="idCode2">
                        </div>
                        <div class="form-group">
                            <button  class="btn btn-default btn-success" type="button" onclick="register()">提交</button>
                            <span class="pull-right">
                                <input id="send2" type ="button" name="sm1" value="获取验证码" onclick="setEmail(this)"/>
                            </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>

</body>
</html>