<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <script src="/js/jquery-3.4.1.min.js"></script>
    <title>setting</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/community.css"/>
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="/css/community.css">
    <link rel="stylesheet" href="/css/iconfont.css"/>

    <script src="/js/bootstrap.min.js" type="application/javascript"></script>
    <script src="/js/moment.min.js" type="application/javascript"></script>
    <script src="/js/community.js" type="application/javascript"></script>


</head>
<body>
<div th:insert="~{common :: copy}"></div>
<div class="container-fluid main-profileSetting">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h4 class="glyphicon glyphicon-cog">个人设置</h4>
                <hr>
                <ul class="nav nav-tabs " role="tablist">
                    <li role="presentation" class="active"><a href="#data" aria-controls="data" role="tab"
                                                              data-toggle="tab">基本信息</a></li>
                    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab"
                                               data-toggle="tab">账号绑定</a></li>
                    <li role="presentation"><a href="#security" aria-controls="security" role="tab" data-toggle="tab">安全设置</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="data">
                        <div class="pull-left" style="margin-top: 40px"><h2>基本信息</h2>
                            <form style="margin-top: 40px" class="form-group form-horizontal">

                                <div class="form-group">
                                    <label class="col-sm-2 control-label">邮箱</label>
                                    <div class="col-sm-10">
                                        <p class="form-control-static" th:text="${userDataDto.user.email}"></p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="dataName" class="col-sm-2 control-label">用户名</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="dataName" placeholder="用户名"
                                               style="width: 20%" th:value="${userDataDto.user.name}">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="dataName" class="col-sm-2 control-label">头像</label>
                                    <div>
                                        <a href="#">
                                            <img class="media-object img-circle" th:id="imgUrl1"
                                                 style="margin-top: 10px;width: 80px;height: 80px"
                                                 th:src="${userDataDto.user.avatarUrl!=null ? userDataDto.user.avatarUrl: '/images/avatar.png'}">
                                        </a>
                                    </div>
                                    <input type="text" hidden="hidden" th:id="avatarUrl1">
                                    <label for="file1" class="sr-only control-label col-sm-2">请选择合法的头像</label>
                                    <input type="file" id="file1" name="fileName1">
                                    <div class="media-body">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="dataName" class="col-sm-2 control-label">性别</label>
                                    <div class="col-sm-10">
                                        <label class="radio-inline">
                                            <input type="radio" name="sexOptions" id="inlineRadio1"
                                                   value="1" th:field="${userDataDto.userData.sex}"> 男
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="sexOptions" id="inlineRadio2"
                                                   value="2" th:field="${userDataDto.userData.sex}"> 女
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="sexOptions" id="inlineRadio3"
                                                   value="3" th:field="${userDataDto.userData.sex}"> 保密
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="dataName" class="col-sm-2 control-label">个性签名</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="bio" placeholder="个签"
                                               style="width: 20%" th:value="${userDataDto.userData.userBio}">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-default btn-success pull-right" type="button" onclick="saveUserData()">保存
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="profile">
                        <div class="pull-left" style="margin-top: 40px"><h2>账号绑定</h2>
                            <form style="margin-top: 40px" class="form-group form-horizontal">

                                <div class="form-group">
                                    <label class="col-sm-2 control-label">当前邮箱</label>
                                    <div class="col-sm-10">
                                        <p class="form-control-static" th:text="${userDataDto.user.email}"></p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="dataName" class="col-sm-2 control-label">验证码</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" placeholder="验证码" style="width: 20%">
                                    </div>
                                    <label for="dataName" class="col-sm-2 control-label"></label>
                                    <span class="col-sm-10">
                                    <input  type="button" name="sm1" value="获取验证码" onclick="setEmail(this)"/>
                                    </span>
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-default btn-success pull-right" type="button" onclick="">验证
                                    </button>
                                    <div class="media-body">
                                    </div>
                                </div>
                            </form>
                            <hr>
                            <form style="margin-top: 40px" class="form-group form-horizontal">
                                <h3>验证成功</h3>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">新邮箱</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control"  placeholder="Email" style="width: 20%">
                                    </div>
                                    </div>
                                <div class="form-group">
                                    <label for="dataName" class="col-sm-2 control-label">验证码</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" placeholder="验证码" style="width: 20%">
                                    </div>
                                    <label for="dataName" class="col-sm-2 control-label"></label>
                                    <span class="col-sm-10">
                                        <input  type="button" name="sm1" value="获取验证码" onclick="setEmail(this)"/>
                                    </span>
                                    </div>
                                <div class="form-group">
                                    <button class="btn btn-default btn-success pull-right" type="button" onclick="">验证
                                    </button>
                                    <div class="media-body">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="security">
                        <div class="pull-left" style="margin-top: 40px">
                            <h2>安全设置</h2>
                            <h4>修改密码</h4>
                            <form style="margin-top: 40px" class="form-group form-horizontal">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">旧密码</label>
                                    <div class="col-sm-10">
                                        <input type="password" class="form-control"  placeholder="Password" style="width: 20%">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-2 control-label">新密码</label>
                                    <div class="col-sm-10">
                                        <input type="password" class="form-control"  placeholder="Password" style="width: 20%">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-2 control-label">确认密码</label>
                                    <div class="col-sm-10">
                                        <input type="password" class="form-control"  placeholder="Password" style="width: 20%">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <button class="btn btn-default btn-success pull-right" type="button" onclick="">保存
                                    </button>
                                    <div class="media-body">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>